In [10]:
import pandas as pd
import random

In [5]:
shitpost_df = pd.read_csv('./data/filtered_shitpost_df.csv', index_col=None)
shitpost_df

                                                   text  is_shitpost
0                 таска войдёт анналы истории два вошла         True
1     графика би лайкладно мужикиприходимуверенно еб...         True
2                 тааак титов дани даниил райан гослинг         True
3     залить лабу нужна веткаветку дамчтобы смерджит...         True
4                     футболку задрал почесался событие         True
...                                                 ...          ...
4404  сколько должен зарабатывать мужчинав лет рубле...         True
4405  душе пою исключительно военные марши гимныпою ...         True
4406  странно писать каналнапишешь мудрость молчание...         True
4407  сразу приватная мудрость опубликована пабликеб...         True
4408  забудьте про ботая создал канал сидите мобильн...         True

[4409 rows x 2 columns]

In [6]:
wiki_df = pd.read_csv('./data/filtered_wiki_df.csv', index_col=None)
wiki_df

                                                   text  is_shitpost
0     Торремолинос исп город муниципалитет Испании в...        False
1         Занимает площадь км Население тыс человек год        False
2      Расстояние административного центра провинции км        False
3     Пляжный курорт средиземноморском побережье Исп...        False
4     Рогатица босн серб Рогатица хорв город восточн...        False
...                                                 ...          ...
5545  Сибинович являлся членом Ассоциации литературн...        False
5546  сентября года знак протеста против нового Зако...        False
5547  Сибинович награждён Премией достижения области...        False
5548  шведская независимая звукозаписывающая компани...        False
5549  основан Бенгтом Рамом году Мальмё образцу нише...        False

[5550 rows x 2 columns]

In [8]:
result = pd.concat([shitpost_df, wiki_df])
result

                                                   text  is_shitpost
0                 таска войдёт анналы истории два вошла         True
1     графика би лайкладно мужикиприходимуверенно еб...         True
2                 тааак титов дани даниил райан гослинг         True
3     залить лабу нужна веткаветку дамчтобы смерджит...         True
4                     футболку задрал почесался событие         True
...                                                 ...          ...
5545  Сибинович являлся членом Ассоциации литературн...        False
5546  сентября года знак протеста против нового Зако...        False
5547  Сибинович награждён Премией достижения области...        False
5548  шведская независимая звукозаписывающая компани...        False
5549  основан Бенгтом Рамом году Мальмё образцу нише...        False

[9959 rows x 2 columns]

In [12]:
shuffled_df = result.sample(frac=1, random_state=random.seed()) 

# Сброс индексов и построение их заново от 0
shuffled_df.reset_index(drop=True, inplace=True)
shuffled_df

                                                   text  is_shitpost
0     последние годы Вера Васильевна работала над кн...        False
1     Население составляет человек г плотность насел...        False
2     Озеро Тоба находится зоне экваториального клим...        False
3                  детстве хотелось укусить кошку думал         True
4     доказана доказана Брауном Бахлером году однако...        False
...                                                 ...          ...
9954  люди задают вопрос зачем столько гинеса отвеча...         True
9955  декабря года вместе со другими архиереями УПЦ ...        False
9956  Цветы огромного большинства правильные редко с...        False
9957  день начинается английского английский начинае...         True
9958  Пушечная установка ВПУА заменена ННПУМ перенос...        False

[9959 rows x 2 columns]

In [18]:
shuffled_df.to_csv('./data/shitpost_classification_df.csv', index=False)

In [17]:
filtered_df = shuffled_df[shuffled_df['is_shitpost'] == False]
filtered_df

                                                   text  is_shitpost
0     последние годы Вера Васильевна работала над кн...        False
1     Население составляет человек г плотность насел...        False
2     Озеро Тоба находится зоне экваториального клим...        False
4     доказана доказана Брауном Бахлером году однако...        False
7     Контжала фр деревня Чаде расположенная террито...        False
...                                                 ...          ...
9951  Такума родился декабря года городке Дзама непо...        False
9952  Джордж Генри Кендрик Твейтс англ июля сентября...        False
9955  декабря года вместе со другими архиереями УПЦ ...        False
9956  Цветы огромного большинства правильные редко с...        False
9958  Пушечная установка ВПУА заменена ННПУМ перенос...        False

[5550 rows x 2 columns]